<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837901302693-1lqltvet8tonbsktdk2ior0778g92uo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837901302693-1lqltvet8tonbsktdk2ior0778g92uo9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837901302693-nkpka7rbppjll7c5o48nqvuoudcrgh9m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB09DvgW6viRQjzBsjxMAK-h8TQdW7sLPE</string>
	<key>GCM_SENDER_ID</key>
	<string>837901302693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cap1</string>
	<key>PROJECT_ID</key>
	<string>shelby-1b1d8</string>
	<key>STORAGE_BUCKET</key>
	<string>shelby-1b1d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837901302693:ios:45c0db85ba934e4d33464c</string>
</dict>
</plist>